@charset "utf-8";
/* CSS Document */
body {
	font-size: 1em;
	line-height: 1.3em;
	}
/*layout*/
.container {
	position: absolute;
    width: 100%;
    /* Change this value to customize the content area*/
    margin: 0 auto;
	text-align: center;
}
/* font classes */
.burntred {
	color: #E94D40;
}
.navyblue {
	color: #0C243C;
}
.specialcakesfont {
	font-family: Arial, sans-serif;
}
.mainheading {
	font-family: Arial, sans-serif;
	font-size: 200%;
	color: #E94D40;
}
.subheading {
	font-family: Arial, sans-serif;
	font-size: 150%;
	color: #E94D40;
}
.headingtext {
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #0C243C;
}
.maintext {
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #0C243C;
}
/*images*/
.bannerimage {
	postion: absolute;
	top:0;
	width:100%;
	height: 100%;
	}	
.singleimage {
    postion: relative;
	width: 50%;
	height: 50%;
}
.logoimage {
	z-index: 10;
	position: relative;
	float: left;
   	postion: top;
	width: 15%;
	height: 15%;
	border:outset;
}
/*multi image table like layout*/
.mutilayout	{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 10%;
	flex-direction:row;
	grid-gap: 10%;
	width: 100%;
	height: 100%;
	perspective-origin: center;
	}
/*image zoom feature below*/
	.object {
 	width: 25%;
 	height: 25%;
	transition: width 1s, height 1s;}

		.object:hover {
		transition-timing-function: ease;
  		width: 50%;
}
#footer {
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 100%;
	background-color: #FCFCFC;
	color: #0C243C;
	padding: 0.5rem 0px;
	font-family: Aerial,sans-serif;
	font-size: 10px;
	line-height: 1.5;
}	
/* NAV BAR*/
.navbar
{
  	overflow: hidden;
  	background-color: transparent;
 	position: fixed; /* Set the navbar to fixed position */
 	top: 0; /* Position the navbar at the top of the page */
 	width: 100%; /* Full width */
}
.navbar a {
  	float: right;
  	display: block;
  	color: #0C243C;
  	text-align: center;
  	padding: 14px 16px;
 	text-decoration:none;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 5px white;
}

/* Change background on mouse-over */
.navbar a:hover {
 	background:#d2d9d4;
	opacity: 0.6;
	color: black;
}

#naviBar{
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 25%;
  	background:url("../images/minicakes1200.png") no-repeat 50% 50% / cover;
}
.main {
  margin-top: 250px; /* Add a top margin to avoid content overlay */
}
/*Form Styles*/
#form1
{
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #0C243C;
	align-content: center;
	
}
#form2
{
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #0C243C;
	align-content: center;
	
}
.formcontainer
{
	display:inline-flex;
	flex:initial;
	flex-direction:row;
	flex-wrap: wrap;
	width: 10%;
	height: 10%;
}
/*table styling*/
#table1
{
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #0C243C;
	border-collapse: collapse;
  	width: 60%;
}
	#table1 td, #table1 th
{
	border: 1px solid #ddd;
  	padding: 8px;
}

		#table1 tr:nth-child(even){background-color: #f2f2f2;}
		#table1 tr:hover {background-color: #ddd;}
		#table1 th{
  			padding-top: 12px;
  			padding-bottom: 12px;
  			text-align: center;
  			background-color: #0C243C;
  			color: white;
}
.tablecontainer{
	display:inline-table;
	flex:initial;
	flex-direction:row;
	flex-wrap: wrap;
	width: 100%;
	height: 50%;
}
#table2
{
	font-family: Arial, sans-serif;
	font-size: 80%;
	color: #0C243C;
	border-collapse: collapse;
  	width: 60%;
}
	#table2 td, #table2 th
{
	border: 1px solid #ddd;
  	padding: 8px;
}

		#table2 tr:nth-child(even){background-color: #f2f2f2;}
		#table2 tr:hover {background-color: #ddd;}
		#table2 th{
  			padding-top: 12px;
  			padding-bottom: 12px;
  			text-align: center;
  			background-color: #E94D40;
  			color: white;
}