@charset "utf-8";
/* CSS Document */
body {
	font-size: 1em;
	line-height: 1.3em;
}
/* classes */
.burntred {
	color: #E94D40;
}
.navyblue {
    color: #0C243C;
    text-align: center;
}
.specialcakesfont {
    font-family: Arial, sans-serif;
    text-align: center;
}
.specialcakesfontsmall {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: small;
}
.specialcakesfontnotcentered {
    font-family: Arial, sans-serif;
    text-align: center;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
    text-align: center;
}
.clearboth {
    clear: both;
}
.sp {
}
.spec {
}
.navbar {
    text-decoration: none;
    text-align: center;
}
.macaroons {
    float: left;
}
.Headingfontsize {
    font-size: xx-large;
    text-align: center;
}
.formtext {
    text-align: left;
    float: left;
    text-indent: 50px;
}

.subheadingfontsize {
    font-size: x-large;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.lists {
    list-style-type: none;
    text-align: left;
    text-shadow: 0px 0px;
    text-decoration: none;
    float: left;
    border-top-width: medium;
    border-style: groove;
}
.cakepics {
    float: left;
    clear: none;
}

.li {
    border-width: thin;
    border-style: none;

}
.banner {
    float: none;

}
.webcontainer {
    width: 100%;
    min-width: 100%;
}
.imagewebcontainer {
    min-width: 100%;
    max-width: 100%;
    display: block;
    min-height: 100%;
    max-height: 100%;
}
.specialcakesfontnotcentered {
    text-align: center;
}

.submit {
    text-align: left;
    vertical-align: baseline;
    clear: none;
    position: static;
}
